<script>
    import { quintOut } from 'svelte/easing';
    import { crossfade, fade } from 'svelte/transition';
    import { flip } from 'svelte/animate';

    const [send, receive] = crossfade({
        fallback(node, params) {
            const style = getComputedStyle(node);
            const transform = style.transform === 'none' ? '' : style.transform;

            return {
                duration: 600,
                easing: quintOut,
                css: t => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
            };
        }
    });

    let groceries = [
        {id: 1, done: false, description: 'Milk', quantity: 1}
    ];

    let quantity = 1;

    let uid = groceries.length + 1;
    let inputValue = "";

    let showError = false;
    let errorTimeout;

    function add() {
        if(inputValue.length === 0) {
            if(showError && errorTimeout) {
                clearTimeout(errorTimeout);
            }

            showError = true;
            errorTimeout = setTimeout(() => {
                showError = false;
            }, 1000);
            return;
        }
        const grocery = {
            id: uid++,
            done: false,
            description: inputValue,
            quantity: quantity
        };
        groceries = [grocery, ...groceries];
        inputValue = '';
        quantity = 1;
    }

    function remove(grocery) {
        groceries = groceries.filter(t => t !== grocery);
    }

    function toggledone(grocery) {
        debugger;
        grocery.done = !grocery.done;
    }
</script>

<style>

    .toast {
        position:absolute;
        top: 0px;
        transform: translate(-50%, 0);
        left:50%;
        background-color: red;
        color: #ffffff;
        border-radius: 5px;
        padding: 0.2em;
    }
    .board {
        max-width: 36em;
        margin: 0 auto;
    }

    .grocery-add-section {
        margin: 2em 0 2em 0;
        border: #eee 1px solid;
        padding: 1em;
    }
    .clear-float {
        position: relative;
        clear:both;
    }

    .left {
        float:left;
    }

    .col-3 {
        width: 33%;
    }

    .grocery-add-section input[type=number] {
        font-size: 1em;
        width: 3em;
    }

    .new-grocery {
        font-size: 1em;
        width: 25em;
    }

    .grocery-list-section {
        border: #eee 1px solid;
        padding: 1em;
    }

    h2 {
        font-size: 2em;
        font-weight: 200;
        user-select: none;
    }

    label {
        display: inline-block;
        width:60%;
        font-size: 1em;
        line-height: 1;
        padding: 0.5em;
        margin: 0 auto 0.5em auto;
        border-radius: 2px;
        border-color: #eee;
        border-width: 1px;
        background-color: #FFF;
        user-select: none;
    }

    .grocery-list-section input[type=number] {
        width: 3em;
    }



    input { margin: 0 }

    .completed {
        text-decoration: line-through;
        color: #b0b0b0;
    }
    .right label {
        background-color: rgb(180,240,100);
    }

    .btn-remove {
        padding: 0 0.5em;
        line-height: 1;
        font-size: 1em;
        background-color: transparent;
        border: none;
        color: rgb(170,30,30);
        opacity: 0.4;
        transition: opacity 0.2s;
    }

    ul {
        list-style-type: none;
        margin: 0;
        width:100%;
    }

    li:hover button {
        opacity: 1;
    }

    .grocery-add-section div{ margin: 0 0 1em 0}

</style>

<div class='board'>
    {#if showError}
    <div transition:fade class="toast">Description can't be empty</div>
    {/if}
    <div class="grocery-add-section">
<h3>Add groceries</h3>
                <input
                        class="new-grocery"
                        bind:value={inputValue}
                        placeholder="Enter a description"
                        on:keydown="{event => event.key === 'Enter' && add()}"
                >
        <input type="number" bind:value={quantity} min="1">
        <button on:click={add}>Add</button>
    </div>

    <div class="grocery-list-section">
        <h3>Groceries</h3>
        <ul>
        {#each groceries.filter(t => !t.done) as grocery (grocery.id)}
            <li in:receive="{{key: grocery.id}}"
            out:send="{{key: grocery.id}}"
            animate:flip>
                <input type=checkbox bind:checked={grocery.done}>
                <label on:click="{() => grocery.done = !grocery.done}">
                        {grocery.description}
                </label>
                <input type="number" bind:value={grocery.quantity} min="1">
                <button  class="btn-remove" on:click="{() => remove(grocery)}">x</button>
            </li>
        {/each}
        </ul>
        <ul>
        {#each groceries.filter(t => t.done) as grocery (grocery.id)}
            <li  in:receive="{{key: grocery.id}}"
                 out:send="{{key: grocery.id}}"
                 animate:flip
                 >
                <input type=checkbox bind:checked="{grocery.done}">
                <label class="completed" on:click="{() => grocery.done = !grocery.done}"> {grocery.description}</label>
                <input type="number" disabled bind:value={grocery.quantity} min="1">
                <button class="btn-remove" on:click="{() => remove(grocery)}">x</button>
            </li>
        {/each}
        </ul>
    </div>
</div>

